/* reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #191919;
}

body .container-my {
  width: 80%;
  margin: auto;
}

header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #191919;
  z-index: 1;
}
header .navbar {
  padding: 0;
}
header .navbar .navbar-brand {
  width: 97px;
  height: 59px;
}
header .navbar .navbar-toggler i {
  color: #686fff;
  font-size: 30px;
}
header .navbar-collapse .navbar-nav {
  align-items: center;
}
header .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #cccccc;
  position: relative;
}
header .navbar-collapse .navbar-nav .nav-item .nav-link::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: #00c0fd;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: width 0.5s ease-in;
}
header .navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
  content: "";
  width: 100%;
}
header .navbar-collapse .navbar-nav .nav-item .nav-link i {
  font-size: 26px;
  transition: all 0.5s;
}
header .navbar-collapse .navbar-nav .nav-item .nav-link i:hover {
  color: #e70faa;
}
header .navbar-collapse .navbar-nav .nav-item .nav-link .btnLightDark {
  width: 28px;
}
header .navbar-collapse .navbar-nav .nav-item .nav-link .fa-sun {
  color: #e3d536;
}
header .navbar-collapse .navbar-nav .nav-item .nav-link .fa-moon {
  color: #d0da0e;
}

.content .myself {
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .myself .myself__name {
  color: #7ad5e0;
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
}
.content .myself .myself__name p i {
  color: #e3d536;
  animation: hello 3s steps(20) infinite;
}
.content .myself .myself__name .myName {
  position: relative;
  overflow: hidden;
  border-right: 3px solid;
  width: 0;
  white-space: nowrap;
  animation: typewriter 5s steps(50) infinite alternate, blink 0.5s steps(10) infinite;
}
.content .myself .myself__name .myName span {
  background: linear-gradient(to right, rgba(5, 211, 60, 0.6274509804), #0bdfd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 910px) {
  .content .myself .myself__name {
    font-size: 56px;
  }
}
.content .myself .myself__ing img {
  height: 290px;
  width: 290px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 9px solid #686fff;
}
@media screen and (max-width: 910px) {
  .content .myself .myself__ing {
    display: none;
  }
}
.content .technology {
  margin-top: 100px;
}
.content .technology .technology__title {
  text-align: center;
}
.content .technology .technology__title h2 {
  color: #cccccc;
  font-size: 40px;
  font-weight: 700;
}
.content .technology .technology__title p {
  font-size: 22px;
  color: #a7a7a7;
  margin: 20px;
}
.content .technology .technology__content {
  margin-bottom: 100px;
}
.content .technology .technology__content .technology__content--top,
.content .technology .technology__content .technology__content--right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.content .projects .projects__title {
  text-align: center;
  margin-bottom: 60px;
}
.content .projects .projects__title h2 {
  color: #cccccc;
  font-size: 40px;
  font-weight: 700;
}
.content .projects .projects__title p {
  font-size: 22px;
  color: #a7a7a7;
  margin: 20px;
}
.content .projects .projects__content .row .card {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(90deg, rgb(0, 192, 253) 0%, rgb(231, 15, 170) 100%);
  height: 530px;
}
.content .projects .projects__content .row .card:hover {
  box-shadow: 0 0 5px #e70faa, 0 0 20px #e70faa, 0 0 30px #e70faa;
}
@media screen and (max-width: 540px) {
  .content .projects .projects__content .row .card {
    max-width: 400px;
    margin: 14px auto;
  }
}
@media screen and (max-width: 1200px) {
  .content .projects .projects__content .row .card {
    max-width: 390px;
    margin: 14px auto;
  }
}
@media screen and (min-width: 1200px) {
  .content .projects .projects__content .row .card {
    max-width: 390px;
    margin: 14px auto;
  }
}
.content .projects .projects__content .row .card .card__content {
  margin: 6px;
  border-radius: 14px;
  overflow: hidden;
  background: #363636;
  height: 100%;
  position: relative;
}
.content .projects .projects__content .row .card .card__content img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .projects .projects__content .row .card .card__content .card-body {
  padding: 20px;
}
.content .projects .projects__content .row .card .card__content .card-body h5 {
  color: #cccccc;
  font-size: 22px;
}
.content .projects .projects__content .row .card .card__content .card-body p,
.content .projects .projects__content .row .card .card__content .card-body h6 {
  color: #a7a7a7;
}
.content .projects .projects__content .row .card .card__content .card__footer {
  position: absolute;
  left: 0;
  bottom: 16px;
  right: 0;
}
.content .projects .projects__content .row .card .card__content .card__footer .card__link {
  margin: 10px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .projects .projects__content .row .card .card__content .card__footer .card__link a {
  text-decoration: none;
  color: #fff;
  transition: all 0.6s;
}
.content .projects .projects__content .row .card .card__content .card__footer .card__link a:hover {
  color: #e70faa;
}

footer .contact__title {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 60px;
}
footer .contact__title h2 {
  color: #cccccc;
  font-size: 40px;
  font-weight: 700;
}
footer .footer__contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
footer .footer__contact img {
  width: 300px;
  margin-left: 110px;
  border-radius: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 1200px) {
  footer .footer__contact img {
    margin: 0 20px 0 auto;
  }
}
@media screen and (max-width: 768px) {
  footer .footer__contact img {
    display: none;
  }
}
footer .footer__contact .contact__content {
  margin-right: 110px;
  width: 500px;
}
@media screen and (max-width: 1200px) {
  footer .footer__contact .contact__content {
    margin: 0 auto;
  }
}
footer .footer__contact .contact__content h5 {
  color: #cccccc;
}
footer .footer__contact .contact__content .form-group {
  margin-right: 25px;
}
@media screen and (max-width: 768px) {
  footer .footer__contact .contact__content .form-group {
    width: 100%;
    margin-right: 0;
  }
}
footer .footer__contact .contact__content .form-group input {
  color: #686fff;
  border: 3px solid #00c0fd;
  border-radius: 10px;
}
footer .footer__contact .contact__content .form-group input:active {
  box-shadow: 0 0 10px #e70faa, 0 0 20px #e70faa;
}
footer .footer__contact .contact__content .form-group .form-control {
  margin: 30px 0;
}
footer .footer__contact .contact__content .form-group .input__name {
  margin-top: 30px;
  height: 50px;
}
footer .footer__contact .contact__content .form-group .input__email {
  height: 50px;
}
footer .footer__contact .contact__content .form-group .input__message {
  height: 100px;
}
footer .footer__contact .contact__content .form-group button {
  font-size: 20px;
  padding: 10px 60px;
  margin-top: 10px;
  transition: all 0.5s;
  color: #fff;
  background: linear-gradient(90deg, rgb(0, 192, 253) 0%, rgb(231, 15, 170) 100%);
  background-size: 120%;
}
footer .footer__contact .contact__content .form-group button:hover {
  box-shadow: 0 0 5px #e70faa, 0 0 10px #e70faa, 0 0 20px #e70faa, 0 0 40px #e70faa;
}
footer .contact__bottom {
  position: relative;
  margin-top: 70px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .contact__bottom h2 {
  color: #cccccc;
  font-weight: 700;
  margin-bottom: 0;
}
footer .contact__bottom h2::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #a7a7a7;
  position: absolute;
  top: -12px;
  left: 0;
}
@media screen and (min-width: 800px) {
  footer .contact__bottom .contact__bottom--content {
    display: block;
  }
}
@media screen and (max-width: 617px) {
  footer .contact__bottom .contact__bottom--content {
    width: 100%;
    margin-left: auto;
  }
}
footer .contact__bottom .contact__bottom--content::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #a7a7a7;
  position: absolute;
  top: 46px;
  left: 0;
}
@media screen and (max-width: 915px) {
  footer .contact__bottom .contact__bottom--content::after {
    top: 84px;
  }
}
@media screen and (max-width: 617px) {
  footer .contact__bottom .contact__bottom--content::after {
    top: 122px;
  }
}
footer .contact__bottom .contact__bottom--content span {
  color: #a7a7a7;
  margin: 0 30px;
  transition: all 0.5s;
}
footer .contact__bottom .contact__bottom--content span:hover {
  color: #686fff;
}
footer .contact__bottom .contact__bottom--content a {
  text-decoration: none;
}
@media screen and (max-width: 1100px) {
  footer .contact__bottom .contact__bottom--content a {
    display: none;
  }
}
@media screen and (max-width: 617px) {
  footer .contact__bottom .contact__bottom--content a {
    display: inline-block;
    margin: 14px 20px 0;
  }
}
footer .contact__bottom .contact__bottom--content a i {
  color: #a7a7a7;
  font-size: 26px;
  margin-left: 20px;
  transition: all 0.5s;
}
footer .contact__bottom .contact__bottom--content a i:hover {
  color: #e70faa;
}

body.light,
body.light header {
  background-color: #fff;
}

body.light .navbar .collapse .nav-link,
body.light .technology .technology__title p,
body.light .content .projects .projects__title p,
body.light footer .contact__title h2,
body.light footer .contact__bottom .contact__bottom--content span,
body.light footer .contact__bottom .contact__bottom--content a i,
body.light footer .contact__bottom h2 {
  color: #666;
}

body.light footer .contact__bottom .contact__bottom--content span:hover,
body.light footer .contact__bottom .contact__bottom--content a i:hover {
  color: #e70faa;
}

body.light .myself__name p,
body.light .technology .technology__title h2,
body.light .content .projects .projects__title h2,
body.light footer .contact__content h5 {
  color: #686fff;
}

body.light .content .projects .projects__content .card {
  box-shadow: 2px 2px 50px 0px rgba(0, 0, 0, 0.4);
}

body.light footer .footer__contact .contact__content .form-group input {
  background-color: #a9eaea;
}

@keyframes typewriter {
  0% {
    width: 0px;
  }
  100% {
    width: 430px;
  }
}
@keyframes blink {
  0% {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  100% {
    border-right-color: transparent;
  }
}
@keyframes hello {
  0% {
    transform: rotate(15deg) translate(3px, 3px);
  }
  50% {
    transform: rotate(-10deg) translate(-3px, -3px);
  }
  100% {
    transform: rotate(15deg) translate(3px, 3px);
  }
}/*# sourceMappingURL=index.css.map */