/* reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #191919;
}

body .container-my {
  width: 80%;
  margin: auto;
}

header {
  margin-top: 30px;
}
header .navbar {
  padding: 0;
}
header .navbar .navbar-brand {
  width: 97px;
  height: 59px;
}
header .navbar-collapse .navbar-nav {
  align-items: center;
}
header .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #cccccc;
}
header .navbar-collapse .navbar-nav .nav-item .nav-link i {
  font-size: 26px;
}

.content .myself {
  margin-top: 250px;
  display: flex;
  justify-content: space-between;
}
.content .myself .myself__name {
  color: #686fff;
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
}
.content .myself .myself__name p span {
  color: #e70faa;
}
.content .myself .myself__ing img {
  height: 290px;
  width: 290px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 9px solid #686fff;
}
.content .technology {
  margin-top: 150px;
}
.content .technology .technology__title {
  text-align: center;
}
.content .technology .technology__title h2 {
  color: #cccccc;
  font-size: 40px;
  font-weight: 700;
}
.content .technology .technology__title p {
  font-size: 22px;
  color: #a7a7a7;
  margin: 20px;
}
.content .technology .technology__content {
  margin-bottom: 100px;
}
.content .technology .technology__content .technology__content--top,
.content .technology .technology__content .technology__content--right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.content .projects .projects__title {
  text-align: center;
  margin-bottom: 60px;
}
.content .projects .projects__title h2 {
  color: #cccccc;
  font-size: 40px;
  font-weight: 700;
}
.content .projects .projects__title p {
  font-size: 22px;
  color: #a7a7a7;
  margin: 20px;
}
.content .projects .projects__content .row .col-4 .card {
  width: 375px;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  background-color: #363636;
  margin-bottom: 30px;
  height: 540px;
}
.content .projects .projects__content .row .col-4 .card img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .projects .projects__content .row .col-4 .card .card-body {
  padding: 20px 30px;
}
.content .projects .projects__content .row .col-4 .card .card-body h5 {
  color: #cccccc;
  font-size: 22px;
}
.content .projects .projects__content .row .col-4 .card .card-body p,
.content .projects .projects__content .row .col-4 .card .card-body h6 {
  color: #a7a7a7;
}
.content .projects .projects__content .row .col-4 .card .card-body .card__link {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .projects .projects__content .row .col-4 .card .card-body .card__link a {
  text-decoration: none;
  color: #fff;
}

footer .contact__title {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 60px;
}
footer .contact__title h2 {
  color: #cccccc;
  font-size: 40px;
  font-weight: 700;
}
footer .footer__contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
footer .footer__contact img {
  width: 300px;
  margin-left: 110px;
  border-radius: 20px;
}
footer .footer__contact .contact__content {
  margin-right: 110px;
  width: 500px;
}
footer .footer__contact .contact__content h5 {
  color: #cccccc;
}
footer .footer__contact .contact__content .form-group {
  margin-right: 25px;
}
footer .footer__contact .contact__content .form-group .form-control {
  margin: 30px 0;
}
footer .footer__contact .contact__content .form-group .input__name {
  margin-top: 30px;
  height: 50px;
}
footer .footer__contact .contact__content .form-group .input__email {
  height: 50px;
}
footer .footer__contact .contact__content .form-group .input__message {
  height: 100px;
}
footer .footer__contact .contact__content .form-group button {
  font-size: 20px;
  padding: 10px 60px;
  margin-top: 10px;
}
footer .contact__bottom {
  position: relative;
  margin-top: 70px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .contact__bottom h2 {
  color: #cccccc;
  font-weight: 700;
}
footer .contact__bottom h2::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #a7a7a7;
  position: absolute;
  top: -20px;
  left: 0;
}
footer .contact__bottom .contact__bottom--content::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #a7a7a7;
  position: absolute;
  top: 53px;
  left: 0;
}
footer .contact__bottom .contact__bottom--content span {
  color: #a7a7a7;
  margin: 30px;
}
footer .contact__bottom .contact__bottom--content a {
  text-decoration: none;
}
footer .contact__bottom .contact__bottom--content a i {
  color: #a7a7a7;
  font-size: 26px;
  margin-left: 20px;
}/*# sourceMappingURL=index.css.map */